# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
output/

# Virtual environments
.venv/
env/
venv/

# PyInstaller
build/
dist/
*.spec

# OS-specific files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
